/*======================================================================================*/
/*                                       General                                        */
/*======================================================================================*/
.errorIcon.sapUiIcon {
    color: #d5001c;
}

/*======================================================================================*/
/*                             Calendar legend colors                                   */
/*======================================================================================*/
/* Calendar Type Away */
.customSpecialDateColors .sapUiCalLegDayType01 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
    background: #afb1b2;
}

/* Calendar Type Fully Booked */
.customSpecialDateColors .sapUiCalLegDayType02 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
    background: #3a6b9b;
}

/* Calendar Type Wrong Booking */
.customSpecialDateColors .sapUiCalLegDayType03 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
    background: #cc8080;
}

/* Calendar Type Hours Transported */
.customSpecialDateColors .sapUiCalLegDayType04 > .sapUiUnifiedLegendSquare > .sapUiUnifiedLegendSquareColor {
    background: #ffffff;
}

/*======================================================================================*/
/*                              Calendar cell colors                                    */
/*======================================================================================*/
/* Calendar Type Away */
.customSpecialDateColors .sapUiCalItemType01 > .sapUiCalItemText {
    box-shadow: inset 0 -0.25rem 0 #afb1b2;
}

.customSpecialDateColors .sapUiCalItemType01.sapUiCalItemSel > .sapUiCalItemText {
    box-shadow: inset 0 -0.25rem 0 #afb1b2, inset 0 -0.33rem #ffffff;
}

.customSpecialDateColors .sapUiCalItemType01.sapUiCalItemNow > .sapUiCalItemText {
    box-shadow: inset 0.0625rem 0.0625rem 0 0 #ffffff, inset -0.0625rem -0.0625rem 0 0 #ffffff, inset 0 -0.1875rem 0 #afb1b2;
}

.customSpecialDateColors .sapUiCalItemType01.sapUiCalItemSel.sapUiCalItemNow > .sapUiCalItemText {
    box-shadow: inset 0.0625rem 0.0625rem 0 0 #ffffff, inset -0.0625rem -0.0625rem 0 0 #ffffff, inset 0 -0.1875rem 0 #afb1b2, inset 0 -0.25rem #ffffff;
}

/* Calendar Type Fully Booked */
.customSpecialDateColors .sapUiCalItemType02 > .sapUiCalItemText {
    box-shadow: inset 0 -0.25rem 0 #3a6b9b;
}

.customSpecialDateColors .sapUiCalItemType02.sapUiCalItemSel > .sapUiCalItemText {
    box-shadow: inset 0 -0.25rem 0 #3a6b9b, inset 0 -0.33rem #ffffff;
}

.customSpecialDateColors .sapUiCalItemType02.sapUiCalItemNow > .sapUiCalItemText {
    box-shadow: inset 0.0625rem 0.0625rem 0 0 #ffffff, inset -0.0625rem -0.0625rem 0 0 #ffffff, inset 0 -0.1875rem 0 #3a6b9b;
}

.customSpecialDateColors .sapUiCalItemType02.sapUiCalItemSel.sapUiCalItemNow > .sapUiCalItemText {
    box-shadow: inset 0.0625rem 0.0625rem 0 0 #ffffff, inset -0.0625rem -0.0625rem 0 0 #ffffff, inset 0 -0.1875rem 0 #3a6b9b, inset 0 -0.25rem #ffffff;
}

/* Calendar Type Wrong Booking */
.customSpecialDateColors .sapUiCalItemType03 > .sapUiCalItemText {
    box-shadow: inset 0 -0.25rem 0 #cc8080;
}

.customSpecialDateColors .sapUiCalItemType03.sapUiCalItemSel > .sapUiCalItemText {
    box-shadow: inset 0 -0.25rem 0 #cc8080, inset 0 -0.33rem #ffffff;
}

.customSpecialDateColors .sapUiCalItemType03.sapUiCalItemNow > .sapUiCalItemText {
    box-shadow: inset 0.0625rem 0.0625rem 0 0 #ffffff, inset -0.0625rem -0.0625rem 0 0 #ffffff, inset 0 -0.1875rem 0 #cc8080;
}

.customSpecialDateColors .sapUiCalItemType03.sapUiCalItemSel.sapUiCalItemNow > .sapUiCalItemText {
    box-shadow: inset 0.0625rem 0.0625rem 0 0 #ffffff, inset -0.0625rem -0.0625rem 0 0 #ffffff, inset 0 -0.1875rem 0 #cc8080, inset 0 -0.25rem #ffffff;
}

/* Calendar Type Hours Transported */
.customSpecialDateColors .sapUiCalItemType04 > .sapUiCalItemText {
    box-shadow: inset 0 -0.25rem 0 #ffffff;
}

.customSpecialDateColors .sapUiCalItemType04.sapUiCalItemSel > .sapUiCalItemText {
    box-shadow: inset 0 -0.25rem 0 #ffffff, inset 0 -0.33rem #ffffff;
}

.customSpecialDateColors .sapUiCalItemType04.sapUiCalItemNow > .sapUiCalItemText {
    box-shadow: inset 0.0625rem 0.0625rem 0 0 #ffffff, inset -0.0625rem -0.0625rem 0 0 #ffffff, inset 0 -0.1875rem 0 #ffffff;
}

.customSpecialDateColors .sapUiCalItemType04.sapUiCalItemSel.sapUiCalItemNow > .sapUiCalItemText {
    box-shadow: inset 0.0625rem 0.0625rem 0 0 #ffffff, inset -0.0625rem -0.0625rem 0 0 #ffffff, inset 0 -0.1875rem 0 #ffffff, inset 0 -0.25rem #ffffff;
}

/* Text color for dates from another month */
.customSpecialDateColors .sapUiCalItemOtherMonth:not(.sapUiCalItemSel) {
    color: rgba(51, 51, 51, 0.5);
}

/*======================================================================================*/
/*                              Account Assignments                                     */
/*======================================================================================*/
/* Object header attributes */
.customObjectHeader .sapMOHR .sapMOHRAttr .sapMObjectAttributeText {
    max-width: 80%;
}

/* Set the text of an object invisible */
.customInvisibleObject {
    opacity: 0;
    content: " ";
}

/*======================================================================================*/
/*                                Message Popover                                       */
/*======================================================================================*/
.customMessagePopover .sapMPopoverCont {
    height: 8rem !important;
}

/*======================================================================================*/
/*                              Time recording form                                     */
/*======================================================================================*/
/* Style the list items of the loan cost object, to adjust the height of empty entries */
.sapMSelectListItemBase.sapMSelectListItem.sapMSelectListItemBaseHoverable[data-itemtype="empty"] {
    height: 2.5rem;
}

.sapMSltPicker-CTX .sapMSelectList.sapMSelectListWrappedItems .sapMSelectListItem[data-itemtype="empty"] {
    height: 2.5rem;
}
